<div id="map"></div>
<small id="map-last-updated">&nbsp;</small>
<p>Get in touch with me via email at <a href="mailto:micahbuckleyfarlee@gmail.com">micahbuckleyfarlee@gmail.com</a>.</p>
<p>I'm also on Instagram as <a href="https://www.instagram.com/micahbf/">@micahbf</a>.</p>

<p class="rss-subscribe">Subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
<form class="pure-form" action="https://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=micah-motorcycles', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
  <p id="subscribe-email-label">Subscribe via email</p>
  <fieldset>
    <input type="email" id="subscribe-email" name="email" placeholder="Email" aria-labelledby="subscribe-email-label" required>
    <input type="hidden" value="micah-motorcycles" name="uri">
    <input type="hidden" name="loc" value="en_US">
    <input type="submit" class="pure-button" value="Subscribe">
  </fieldset>
</form>
<p>Subscribe on <a href="https://twitter.com/micahbf">Twitter</a></p>
