@import 'purecss-1.0.0-min.scss';
@import 'purecss-1.0.0-grids-responsive-min.scss';
@import 'fonts.scss';

$bg-color: #fcfbf7;
$text-main-color: #232323;
$text-heading-color: #600000;
$link-color: #00008b;

$bg-color-dark: #232323;
$text-main-color-dark: #fcfbf7;
$text-heading-color-dark: #fcfbf7;
$link-color-dark: #aec8dd;

* {
    box-sizing: border-box;
}

// pure.css font override
html, button, input, select, textarea, .pure-g [class *= "pure-u"] {
    font-family: $body-font-stack;
}

// Layout

body {
    background-color: $bg-color;
    @media (prefers-color-scheme: dark) {
        background-color: $bg-color-dark;
    }
}

.page-header {
    background-image: url('/assets/layout_images/header_road.jpg');
    background-position: center;
    height: 250px;
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.content {
    padding: 2em 1em 0;
    color: $text-main-color;
    background-color: $bg-color;

    @media (prefers-color-scheme: dark) {
        background-color: $bg-color-dark;
        color: $text-main-color-dark;
    }

    @media (min-width: 48em) {
        padding: 2em 3em 0;
    }
}

main {
    @media (min-width: 48em) {
        padding-right: 1em;
    }
}

article {
    padding-bottom: 2em;
    margin: 0 auto;
    max-width: 43em;

    header {
        margin: 0.83em 0;

        h2 {
            margin: 0;
        }
    }

    &:first-child header {
        margin-top: 0;
    }
}

footer {
    text-align: center;
    font-size: small;
}

.pagination {
    text-align: center;

    li {
        display: inline-block;
        margin: 0 1em;
    }
}

.blog-picture {
  display: block;
}

.blog-picture + .blog-picture {
  margin-top: 0.5em;
}

hr {
    width: 33%;
}

#map {
    width: 100%;
    height: 40vh;
    background-image: url('/assets/layout_images/map_blur.jpg');
    background-size: cover;
}

// Typography

h1, h2, h3, h4 {
    font-family: $header-font-stack;
    font-weight: normal;
    color: $text-heading-color;

    @media (prefers-color-scheme: dark) {
        color: $text-heading-color-dark;
    }
}

header h1 {
    font-size: 3em;
    text-shadow: 1px 1px 0 #555;
    margin-block-start: auto;
    margin-block-end: -0.2em;

    @media (prefers-color-scheme: dark) {
        // preserve normal color against background image
        color: $text-heading-color;
    }
}

a {
    color: $link-color;
    &:hover { color: lighten($link-color, 10%); }

    @media (prefers-color-scheme: dark) {
        color: $link-color-dark;
        &:hover { color: darken($link-color-dark, 10%); }
    }
}

header a, .title a, .published a {
    color: inherit;
    text-decoration: inherit;
    &:hover { color: inherit; }
}

.location, .published {
    font-family: $header-font-stack;
}

.inline-icon {
    height: 1em;
}


// Vimeo embed
.vimeo-embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;

    iframe, object, embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

// Mapbox styles
#map {
    .mapboxgl-popup-content {
        background-color: $bg-color-dark;
        color: $text-main-color-dark;
        font-family: $body-font-stack;
        padding: 7px;
    }

    .mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
    .mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip,
    .mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
        border-bottom-color: $bg-color-dark;
    }
    .mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
    .mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
    .mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
        border-top-color: $bg-color-dark;
    }
    .mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
        border-right-color: $bg-color-dark;
    }
    .mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
        border-left-color: $bg-color-dark;
    }
}
