@import 'purecss-1.0.0-min.scss';
@import 'purecss-1.0.0-grids-responsive-min.scss';
@import 'fonts.scss';

$bg-color: #fcfbf7;
$text-main-color: #232323;
$text-heading-color: #400000;
$link-color: #00008b;

$bg-color-dark: #232323;
$text-main-color-dark: #fcfbf7;
$text-heading-color-dark: #fcfbf7;
$link-color-dark: #aec8dd;

* {
    box-sizing: border-box;
}

// pure.css font override
html, button, input, select, textarea, .pure-g [class *= "pure-u"] {
    font-family: $body-font-stack;
}

// Layout

header {
    background-image: url('/assets/layout_images/header-road.jpg');
    background-position: center;
    height: 250px;
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.content {
    padding: 2em 1em 0;
    color: $text-main-color;
    background-color: $bg-color;

    @media (prefers-color-scheme: dark) {
        background-color: $bg-color-dark;
        color: $text-main-color-dark;
    }

    @media (min-width: 48em) {
        padding: 2em 3em 0;
    }
}

article {
    padding-bottom: 2em;
    margin: 0 auto;
    max-width: 43em;
}

// Text

h1, h2, h3, h4 {
    font-family: $header-font-stack;
    color: $text-heading-color;

    @media (prefers-color-scheme: dark) {
        color: $text-heading-color-dark;
    }
}

header h1 {
    font-size: 3em;
    margin-block-start: auto;
    margin-block-end: -0.2em;

    @media (prefers-color-scheme: dark) {
        // preserve normal color against background image
        color: $text-heading-color;
    }
}

a {
    color: $link-color;
    &:hover { color: lighten($link-color, 10%); }

    @media (prefers-color-scheme: dark) {
        color: $link-color-dark;
        &:hover { color: darken($link-color-dark, 10%); }
    }
}

header a, h2 a, .published a {
    color: inherit;
    text-decoration: inherit;
    &:hover { color: inherit; }
}

.location, .published {
    font-family: $header-font-stack;
}
